
<form [formGroup]="autoForm" name="autoForm">

    <div>
        <label>Marca *</label>
    </div>

    <input type="text" placeholder="Introduce La Marca..." formControlName="marca"><br>

    <div>
        <label>Color *</label>
    </div>

    <input type="text" placeholder="Introduce El Color..." formControlName="color"><br>

    <div>
        <label>Modelo *</label>
    </div>

    <input type="text" placeholder="Introduce El Modelo..." formControlName="modelo"><br>

    <div>
        <label>Patente *</label>
    </div>

    <input type="text" placeholder="Introduce La Patente..." formControlName="patente"><br>
    <br>

   
<button (click)="cambiarDatos()">Cambiar Datos</button>
    <button (click)="cambiarColor()">Cambiar Color</button> 
    

   
    <div>

        <p>Cambio 1</p>
        Form Auto: {{autoForm.value | json}}
    </div>
    

</form>

