<h1>Formulario Component</h1>
<h1>  </h1>
<app-auto> </app-auto>

<h1>   </h1>
<h1>--------------------------------------------------------</h1>
<h1>TP Nº 4</h1>

<app-hijo></app-hijo>
<app-hija></app-hija>
<app-padre></app-padre>

<router-outlet></router-outlet>




<!--
<div>
 <p> 
  
<mat-form-field appearance="outline">
  <mat-label>ingrese Nombre y Apellido</mat-label>
  <input matInput placeholder="marca">
  <input matInput placeholder="color">
  <input matInput placeholder="modelo">
  <input matInput placeholder="patente">
  <mat-icon matSuffix></mat-icon>
  <mat-hint>Nombre y Apellido</mat-hint>
  
</mat-form-field>

</p>

<button id="basic" type="button" mat-button >
  Borrar
</button>
</div>
<router-outlet></router-outlet>
-->